<!-- Material Toolbar Example -->
<mat-toolbar color="primary" class="navbar">
  <!-- <span>Angular Learning Path</span> -->
  <div>Angular Learning Path</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!-- Button Component has a differen types
  Attribute 	            Description
mat-button 	              Rectangular text button w/ no elevation
mat-raised-button 	      Rectangular contained button w/ elevation
mat-flat-button 	        Rectangular contained button w/ no elevation
mat-stroked-button 	      Rectangular outlined button w/ no elevation
mat-icon-button 	        Circular button with a transparent background, meant to contain an icon
mat-fab 	                Circular button w/ elevation, defaults to theme's accent color
mat-mini-fab 	            Same as mat-fab but smaller

Property            Values
color               (primary, accent, warn)
-->

<!-- Normal Button Types -->
<div>
  <button mat-button color="warn">Basic Button</button>
  <button mat-raised-button color="accent">Raised Button</button>
  <button mat-flat-button color="primary">Flat Button</button>
  <button mat-stroked-button>Stroked Button</button>
<!-- Circular Button Types -->
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Icon</button>
<!-- Colored button -->
  <button color="primary" mat-stroked-button>Primary</button>
  <button color="accent" mat-stroked-button>Accent</button>
<!-- Add disable Ripple on below button -->
  <button color="warn" disableRipple mat-stroked-button>Warning</button>
</div>

<button mat-stroked-button color="primary" class="cusLink">
  <a mat-button href="https://www.google.co.in/" target="_blank">Google Link</a>
</button> 

<!-- <div class="mat-display-4">This is div 4</div>
<div class="mat-display-3">This is div 3</div>
<div class="mat-display-2">This is div 2</div>
<div class="mat-display-1">This is div 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is a body text for body-1</div>
<div class="mat-body-2">This is a body text for body-2</div>
<div class="mat-caption">This is a caption</div>

<div class="mat-typography">
  <h1>This is h1</h1>
  <h2>This is h2</h2>
  <h3>This is h3</h3>
  <h4>This is h4</h4>
</div> -->

<div class="toggleCheckedValues">
  <label for="">Toggle Checked Values : &nbsp; </label> <strong>{{toggleBtn.checked}}</strong>
  <label for="">ToggleGroup Checked Values : &nbsp; </label> <strong>{{toggleGroup.value}}</strong>
</div>

<!-- Button Toggle Tutorial -->
<div class="buttonElement">
  <mat-button-toggle #toggleBtn checked disableRipple>Toggle</mat-button-toggle>
  <!-- {{toggleBtn.checked}} -->

  <!-- Button Toggle Group Directive -->
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular.js</mat-button-toggle>
    <mat-button-toggle value="react">React.js</mat-button-toggle>
    <mat-button-toggle value="vue">Vue.js</mat-button-toggle>
  </mat-button-toggle-group>
  <!-- {{toggleGroup.value}} -->

<!-- Mat-Icon Component Learning -->
  <mat-icon color="primary">thumb_up_alt</mat-icon>
</div>

<!-- MatBadge Attribute -->
<div class="notify">
  <div>
    <!-- Property binding from app.component.ts to here on [matBadge] with '*notification*' variable  -->
    <!-- [matBadgeHidden] will be fired when 'property' value is '0' -->
    <mat-icon [matBadge]="notification" [matBadgeHidden]="notification === 0" matBadgeOverlap="false">notifications_active</mat-icon>
  </div>
  <div>
    <mat-icon matBadge="2" matBadgeOverlap="false" matBadgePosition="below before">notifications_active</mat-icon>
  </div>
  <div>
    <mat-icon matBadge="4" matBadgeOverlap="false" matBadgePosition="below after">notifications_active</mat-icon>
  </div>
  <div>
    <mat-icon matBadge="8" matBadgeOverlap="false" matBadgePosition="above before">notifications_active</mat-icon>
  </div>
</div>

<div class="spinner">
  <!-- MatProgressSpinner Module Tutorial -->

<!-- <mat-progress-spinner value="40"></mat-progress-spinner> -->
<mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
<button mat-raised-button color="primary" (click)="loadData()"> Load Data </button>

<!-- SideNav Tutorial -->
<!-- <mat-sidenav-container>
  <mat-sidenav opened>Sidenav</mat-sidenav>
  <mat-sidenav-content>
    Main 
  </mat-sidenav-content>
</mat-sidenav-container> -->
</div>


