button{
    margin: 2rem;
}
.cusLink{
    margin: 0% 50% 0% 50%;
}
.toggleCheckedValues{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.toggleCheckedValues label{
    margin-left: 2rem;
}
.buttonElement{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.notify{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.spinner{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.navbar{
    justify-content: space-between;
}
.navbar span{
    padding-right: 1rem;
}